@using EPiServer.Core
@using EPiServer.Web
@using EPiServer.Web.Mvc.Html
@model customViewModel<customPage>

<link rel="stylesheet" href="~/ClientResources/Styles/myStyles.css">
<script src="~/ClientResources/Scripts/copyText.js"></script>

<h3 @Html.EditAttributes(x => x.CurrentPage.customHeader)>@Model.CurrentPage.customHeader</h3>

<div @Html.EditAttributes(x => x.CurrentPage.customPageImage)>
    <img src="@Url.ContentUrl(Model.CurrentPage.customPageImage)" />
</div>
<br />

<div @Html.EditAttributes(x => x.CurrentPage.customMainBody)>
    @Html.DisplayFor(m => m.CurrentPage.customMainBody)
</div>
<hr />

<table>
    <tr>
        <th>Label</th>
        <th>Value</th>
    </tr>
    @for (int i = 0; i < Model.CurrentPage.customDataPoints.Count(); i += 2)
    {
        <tr>
            <td>
                <span id="@string.Format("list{0}", i)" onclick="copyTextFunc(this.id)" @Html.EditAttributes(x => x.CurrentPage.customDataPoints)>
                    @Model.CurrentPage.customDataPoints[i]
                </span>
            </td>
            @try
            {
                int j = i + 1;
                <td>
                    <span id="@string.Format("list{0}", j)" onclick="copyTextFunc(this.id)" @Html.EditAttributes(x => x.CurrentPage.customDataPoints)>
                        @Model.CurrentPage.customDataPoints[j]
                    </span>
                </td>
            }

            catch
            {

            }
        </tr>
    }
</table>
<hr />