@using EPiServer.Core
@using EPiServer.Web
@using EPiServer.Web.Mvc.Html
@model customViewModel<customPage>

<link rel="stylesheet" href="~/ClientResources/Styles/myStyles.css">

<p class="customClass">fafaf</p>

<h3 @Html.EditAttributes(x => x.CurrentPage.customHeader)>@Model.CurrentPage.customHeader</h3>

<div @Html.EditAttributes(x => x.CurrentPage.customPageImage)>
    <img src="@Url.ContentUrl(Model.CurrentPage.customPageImage)" />
</div>
<br />

<div @Html.EditAttributes(x => x.CurrentPage.customMainBody)>
    @Html.DisplayFor(m => m.CurrentPage.customMainBody)
</div>
<hr />

<table style="width:100%; border: 2px solid black; text-align:center">
    <tr>
        <th>Label</th>
        <th>Value</th>
    </tr>
    @for (int i = 0; i < Model.CurrentPage.customDataPoints.Count(); i+= 2)
    {
        <tr>
            <td @Html.EditAttributes(x => x.CurrentPage.customDataPoints)>@Model.CurrentPage.customDataPoints[i]</td>
            @try
            {
                int j = i + 1;
                <td @Html.EditAttributes(x => x.CurrentPage.customDataPoints)>@Model.CurrentPage.customDataPoints[j]</td>
            }
            
            catch
            {

            }
        </tr>
    }
</table>
<hr />